In [1]:
#Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [22]:
fruit_info = pd.DataFrame(
    data={'fruit': ['apple', 'orange', 'banana', 'raspberry'],
          'color': ['red', 'orange', 'yellow', 'pink']
          })
fruit_info

fruit_info['rank1'] = [1,2,3,4]
fruit_info

       fruit   color  rank1
0      apple     red      1
1     orange  orange      2
2     banana  yellow      3
3  raspberry    pink      4

In [24]:
### BEGIN SOLUTION
# complete the assert statements below
assert fruit_info["rank1"].dtype == ('int64')
assert len(fruit_info["rank1"].dropna()) == 4
### END SOLUTION

In [26]:
fruit_info.loc[:, 'rank2'] = [4,3,2,1]
fruit_info

       fruit   color  rank1  rank2
0      apple     red      1      4
1     orange  orange      2      3
2     banana  yellow      3      2
3  raspberry    pink      4      1

In [27]:
### BEGIN SOLUTION
# complete the assert statements below
assert fruit_info["rank2"].dtype == ('int64')
assert len(fruit_info["rank2"].dropna()) == 4
### END SOLUTION

In [38]:
fruit_info_original = fruit_info.drop(['rank1' , 'rank2'], axis=1)

In [39]:
fruit_info_original

       fruit   color
0      apple     red
1     orange  orange
2     banana  yellow
3  raspberry    pink

In [40]:
### BEGIN SOLUTION
# complete the assert statements below
assert fruit_info_original.shape[1] == 2
### END SOLUTION

In [45]:
fruit_info_original.rename(columns={"fruit" : "Fruit", "color" : "Color"}, inplace=True)
fruit_info_original

       Fruit   Color
0      apple     red
1     orange  orange
2     banana  yellow
3  raspberry    pink

In [46]:
### BEGIN SOLUTION
# complete the assert statements below
assert fruit_info_original.columns[0] == ??
assert fruit_info_original.columns[1] == ??
### END SOLUTION

SyntaxError: invalid syntax (<ipython-input-46-9f3ca00b492b>, line 3)